@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 10px 20px;
}

.nav-links li{
    padding: auto 20px;
}

.nav-links li a{
    color: black;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.nav-links li a:hover{
    color: blueviolet;
}
.happy-container{
    padding: 20px;
}
.happy-container h1,.bestseller-container h1{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 20px 10px;
}
.happy-container h1 span, .bestseller-container h1 span,.cake-type-container h1 span{
    color: #ec268f;
}
.happy div{
    width: 550px;
    max-width: 100%;
    margin:0 10px;
}
.happy div img{
    height: auto;
    width: 550px;
}
.happy div button{
    background-color: #ec268f;
    color: white;
    margin-top:25px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.bestseller-container{
    background-color: #E4E0F4;
    margin-top: 10px;
    padding: 20px 0 20px 0;
}

.bestseller button{
    background-color: #ec268f;
    color: white;
}
.bestseller div{
    width: 40%;
    border-radius: 10px;
}
.bestseller div h2{
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 25px;
}
.bestseller div:first-child{
    background-image: url("../images/bestseller-img1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:-30px 0vh;

}
.bestseller div:nth-child(2){
    background-image: url('../images/bestseller-img2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: start;
}

.cake-type-container{
    padding: auto 10px;
}
.cake-type-container h1{
    font-size: 30px;
}
.cake-type-header button{
    background-color: #ec268f;
    color: white;
}

.three-d-cake-container,.chocalate-cake-container{
    background-color: #E4E0F4;
}

.first-order-offer{
    height: 160px;
    background-image: url("../images/first-order-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.newsletter{
    padding: 70px;
    background: url("../images/newsletter-bg.png") no-repeat;
    background-size: cover;
    background-color: #E4E0F4;

}
.newsletter h1{
    font-weight: bolder;
    font-size: 35px;
}
.newsletter h1 span{
    color: #ec268f;
}
.newsletter p{
    margin-top: 10px;
}
.newsletter form input{
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    width: 35vw;
}
.newsletter form input:focus{
    outline: none;
}
.newsletter form button{
    margin-left: 10px;
    border: none;
    background-color: #20134B;
    color: white;
    padding: 10px;
}
.speciality h1{
    font-weight: bolder;
    font-size: 35px;
}
.speciality h1 span{
    color: #ec268f;
}

.speciality .feature-container img{
    width: 90px;
    height: 80px;
}

footer .header .social-media img{
    width: 30px;
    height: 30px;
}
footer .header .social-media .icon-container{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
#facebook{
    background-color: #3b5998;
}
#twitter{
    background-color: #1da1f2;
}
#instagram{
    background-color: #f0096a;
}
#youtube{
    background-color: #cd201f;
}
footer{
    background-color: #e2def5;
}
footer .body .link-container a{
    display: block;
    color: black;
    text-decoration: none;
}
@media screen and (max-width:400px){
    .happy-container{
        padding: 5px;
    }
    .happy div{
        max-width: 360px;
        width: 100%;
        min-width: 100px;
    }
    .happy div img{
        max-width: 360px;
        width: 100%;
        min-width: 100px;
    }
    .bestseller div{
        width: 100%;
        border-radius: 10px;
        padding: initial;
        margin: 10px auto;
    }

    .cake-type-header{
        padding:10px;
    }
    .cake-type-body div,.cake-type-body div img{
        width: 180px;
    }
    .newsletter form input{
        width: 100%;
    }
    .newsletter form button{
        margin-top: 10px;
    }
}

@media only screen and (min-width:400px) and (max-width:600px){
    .happy div{
        max-width: 580px;
        width: 100%;
    }
    .happy div img{
        max-width: 580px;
        width: 100%;
    }
}